<div class="container fluid">
    <div class="row">
    {{#each this }}
    <div class="col-sm-4">
      <button class="btn btn-warning" id="{{_id}}"> {{title}} </button>
    </div>
    {{/each}}
  </div>
</div>
